.footer {
    width: 100vw;
    height: 4rem;
    background-color: var(--card-bg);
    border-top: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
    color: var(--text-color);
}